@charset 'UTF-8';

#header {
    margin-left:auto; 
    margin-right:auto;
    height: 200px;
}

#logo {
    position: absolute;
    width: 350px;
    height: 100px;
    margin-left: 10%;
}

#logo img {
    width: 250px;
    height: 200px;
}

#ment {
    position: absolute;
    float: left;
    margin-left: 35%;
    margin-top: 45px;
    width: 550px;
    height: 100px;
}

#statistic{ 
    text-align: end;
    margin-top: -40px;
    margin-right: 128px;
}

#statistic a:first-child{
    vertical-align: 21px;
    color: #333;
    font-weight: 600;
}

/* #statistic button {
    background-color: white;
    text-align: center; 
    font-size:17px; 
    padding:20px;
} */


a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: darkgray;
}

#footer {
    margin-top: 100px;
    width: 100%;
    padding: 30px;
    height: 200px;
    background-color: #0070C0;
    color: white;
    text-align: center;
}

#content {
    height: auto;
    margin-left:auto; 
    margin-right:auto;
}


/* body.html */
#employees {
    width: 80%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

#employees th, #employees td {
    border: 0px;
    padding: 15px 8px;
}

#employees th {
    background-color: #0070C0;
    color: white;
}

#employees td {
    text-align: center;
    padding: 13px 5px 3px 5px;
}

.clear {
    clear: both;
}



/* result.html */
/* #result_contents {

} */

.view {
    display: block;
}

.item {
    overflow-x: scroll;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    height: 53%;
    margin-bottom: 20px;
    width: 38%;
    border: 2px solid green;
    float: left;
}


#result_table {
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
}

.item:first-of-type tr:first-of-type td:nth-child(2){
    display: none;
}

#result_table th, #result_table td {
    padding: 12px 10px 0 5px;
}

#result_table th {
    text-align: left;
}

/* ocrbody.html */
/* #uploadfile {
    border: 2px solid black;
    font-size: large;
    border-radius: 5px;
    padding: 2px;
    background-color: aliceblue;
    /* font-size: 25px; */

/* } */

#read {
    border: 2px solid black; 
    border-radius: 5px;
    padding: 2px; 
    width: 62px;
    height: 24px; 
    display:inline-block;
    text-align: center;
}

#save {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px; 
    width: 62px;
    height: 24px; 
    display:inline-block;
    text-align: center;

}
.btnAtt{
    border: 2px solid black;
    font-size: large;
    border-radius: 5px;
    padding: 2px;
    background-color: aliceblue;

}

#result {
    margin-right: 30px;
}

.table {
    border-top: 1px solid #BDBDBD;
    border-collapse: collapse;
    padding: 15px;
    border-radius: 30px;
}

.table input{
    border: none;
}

.table th, .table td{
    border-bottom: 1px solid #BDBDBD;
    padding: 10px;
}

#result input {
    margin: 2px 3px 15px 3px;
}


section.container {
    margin: 0 auto;
    width: 50vw;
    overflow: hidden;
    height: fit-content;
    position: relative;
}

div.banner {
    width: 540vw;
    /* transform: translate(-90vw); */
    transition: transform 0.5s;
}

div.banner1 {
    width: 135vw;
    /* transform: translate(-90vw); */
    transition: transform 0.5s;
}


div.img {
    width: 44vw;
    float: left;
}

div.img img {
    width: 100%;
    display: block;
}

div.arrow {
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    width: 35px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 40vh;
    color: #00000070;
    background-color: #00000021;
}

div.next {
    right: 0;
}

div.btns {
    position: absolute;
    bottom: 5px;
    width: 90vw;
    text-align: center;
}