{% extends 'layout.html' %}
{% load static %}

    {% block title %}
        <title>HAP(인사등록프로그램)</title>
    {% endblock title %}

    {% block content %}
        <div id="contents">   <!-- 내용 -->
            {% if employees != None %}   <!--DB에서 가져온 직원 정보-->
                <table id="employees">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>성명</th>
                            <th>부서</th>
                            <th>직위(직책)</th>
                            <th>휴대폰</th>
                            <th>입사일</th>
                            <th>메일주소</th>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2> 정보가 없습니다 </h2>
        {% endif %}
    </div>
    <div>
        <button type="button" onclick="location.href='/stats'" style="width:40%; text-align: center; font-size:1em; padding:15px">통계보기</button>
    </div>
</body>
</html>
                    </thead>
                    <tbody>
                        {% for i in employees %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.image }}</td>
                                <td><a href="/info/{{i.id}}">{{ i.name }}</a></td>
                                <td>{{ i.depart }}</td>
                                <td>{{ i.class_field }}</td>
                                <td>{{ i.phone }}</td>
                                <td>{{ i.hire_date }}</td>
                                <td>{{ i.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2> 정보가 없습니다 </h2>
            {% endif %}
        </div>
    {% endblock content %}

