{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block script %}{% endblock script %}

    {% block title %}
    <title>Document</title>
    {% endblock title%}
</head>
<body>
    {% block header %}
    <!-- 이부분 12/22 수정됨 -->
    <div id="header" style="
        width: 1067.4;
        margin-right: 0px;
        display: inline-block;
        width: 100px;
        /* float: initial; */
    ">
            <div id="logo">
                <a href="/">
                    <img src="/static/ours/logo.svg">
                </a>
            </div>
            <div id="ment" style="position: absolute;
                float: left;
                margin-left: 35%;
                margin-top: 45px;
                width: 550px;
                height: 100px;">
                <h1>겨울에도 지지않는 꽃 Flower입니다</h1>
            </div>
            <div class="clear" style="height: 100px;">
                <div id="statistic" style="
                    margin-top: -70;
                    margin-top: -100;
                    width: 60.4;
                    display: inline-block;
                    margin-right: -60;
                    margin-right: 0px;
                    margin-top: 0;
                    margin-top: 0;
                    margin-left: 950px;
                    /* float: left; */
                    margin-bottom: 0px;
                    margin-top: 50px;
                ">
                {% block statistics %}

                    <!-- 이 부분 12/22 새로 생성된 레이아웃 -->


                    <!-- <a href="/stats">통계보기</a>
                    <a href="/stats"><img src="/static/ours/icon1.png" alt="보여지지말기 통계아이콘" style="
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        margin-left: 0px;
                    "></a> -->
                {% endblock statistics %}
                </div>
            </div>
    </div>
    {% endblock header %}

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
        <div id="footer">
            <ul>

            </ul>
             <dl class="footer_help">

                고객센터 : 1588-5890 (평일  09:00 ~ 19:00 토요일 09:00 ~ 15:00) | Email : haemosulgh@naver.com  <br>
                서울 강남구 테헤란로 146 3~4층 코리아 아카데미 | 대표 : 이관호, 정은수, 김혜지, 신종성, 위효정 |  <br>               
             </dl>
        </div>
    {% endblock footer %}
</body>
</html>