{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">    
    <h1>
        {{menutitle}}
        <a href="/info">결과창</a>
        
    </h1>
    
    
    <div style="display:flex">
        <section class="container">
            <div class="banner">
                {% if remain == None %}
                <img style="width: 615px;" src="/static/ours/img1.svg" class="d-block w-100" alt="">
                {%endif%}
            <div class="arrow prev">&lt;</div>
                {% for i in remain %}
                <div class="img"><img src="/static/source/{{i}}"></div>
                {% endfor %}
            </div>
            <div class="arrow next">&gt;</div>
        </section>
        
        
        <div style="width:20%;">
            
            
            <form action="/coocr_upload/{{idx}}" method="post" id="Coauthform" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-top:100px ;">
                    <input type="file" name="uploadfile" id="uploadfile" multiple="multiple" />
                </div>
                <div style="margin-top:200px ;">
                    <input type="submit"id="btnAtt" value="READ">
                </div>
            </form>
            <form action="/coocr_insert/resume/{{idx}}" method="post" id="insertform" enctype="multipart/form-data">
                {% csrf_token %}
            <div style="margin-top:200px ;">
                <button id="save">save</button>
                
                
            </div>
        </div>
        
        
        <div style="width:33%;">
            
            
            <div style="margin-top:100px ;">
                <img src="/static/face/{{idx}}.png" alt="얼굴 출력" height="150" width="100"><br>
                <span> 학력 </span>
                <br>
                <textarea  name='gradu' style="width:400px;height:200px;font-size:20px;">{{resulttext1}}</textarea>
                <br>
                <span> 자격증 </span>
                {% for t in resulttext2 %}
                <textarea name="{{t.0}}" style="width:300px;height:30px;font-size:20px;">{{t.1}}
                </textarea>
                {% endfor %}
                <input  name="len" style="display: none " value="{{len}}">
            </div>    
            
            
            </form>
            
        </div>
    </div>
    
</div>
{% endblock content %}
<script>
    const banner = document.querySelector("div.banner");
        const arrows = document.querySelectorAll("div.arrow");
        const btns = document.querySelectorAll("button.btn");
        let count = 0;

    // 원하는 번호의 배너로 이동
    btns.forEach(function(btn, i, ar){
        // 각 버튼에 배너로 이동
        ar[i].addEventListener("click", function(){
            // 해당 버튼 번호(i)로 count 변경
            count = i;
            banner.style.transform = "translate(-" + count * 44 + "vw)";
        })
    })

    // 이전버튼, 다음버튼 기능 구현
    arrows.forEach(arrow => {
        arrow.addEventListener("click", function(){
            let arrowType = arrow.classList[0];
            if(arrowType == 'prev'){
                count--;
                if(count == -1) {
                    count = arrows.length -1;
                }
            }else{
                count++;
                if(count == arrows.length) {
                    count = 0;
                }
            }
            banner.style.transform = "translate(-" + count * 44 + "vw)";
        });
    });
</script>