{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    #save{
        border: 2px solid black;
        font-size: large;
        border-radius: 5px;
        padding: 2px;
        background-color: aliceblue;

    }
    #btnAtt{
        border: 2px solid black;
        font-size: large;
        border-radius: 5px;
        padding: 2px;
        background-color: aliceblue;

    }



</style>
<link rel="stylesheet" href="{% static 'style.css' %}">    
    
    
    <div style="display:flex">
        <section class="container">
            <div class="banner">
                {% if remain == None %}
                <label for="uploadfile">
                    <img style="width: 615px;" src="/static/ours/img1.svg" class="d-block w-100" alt="">
                </label>
                {%endif%}
            <div class="arrow prev">&lt;</div>
                {% for i in imgname %}
                <div class="img"><img src="/static/imgr/{{i}}"></div>
                {% endfor %}
            </div>
            <div class="arrow next">&gt;</div>
        </section>
        
        
        <div style="width:20%;">
            
            
            <form action="/coocr_upload/{{idx}}" method="post" id="Coauthform" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-top:100px ;">
                    <input style="display: none;" type="file" name="uploadfile" id="uploadfile" multiple="multiple" />
                </div>
                <div style="margin-top:200px ;">
                    <input type="submit"id="btnAtt" style="font-size:25px" value="READ" onclick="read()">
                    <!-- <label for="READ" style="border: 2px solid black; border-radius: 5px;padding: 2px; width: 62px;
                        height: 24px; display:inline-block;text-align: center;">READ</label> -->

                </div>
            </form>
            <form action="/coocr_insert/resume/{{idx}}" method="post" id="insertform" enctype="multipart/form-data">
                {% csrf_token %}
            <div style="margin-top:200px ;">
                <input type="submit" style="font-size:25px" id="save" value="SAVE">
                <!-- <label for="READ" style="border: 2px solid black; border-radius: 5px;padding: 2px; width: 62px;
                height: 24px; display:inline-block;text-align: center; font-size: large;">SAVE</label> -->
                
                
            </div>
        </div>
        
        
        <div style="width:33%;">
            
            
            <div style="margin-top: 100px;display: flex;margin-left: -212px;">
                <div>
                    <!-- 이 부분 12/22 수정됨 -->
                    <img style="width: 255px;height: 314px;" src="/static/face/{{idx}}.png" onerror="this.src='/static/face/face_proto.png'" alt="얼굴 출력" height="150" width="100">
                </div>
                <table class="table">
                    <tr>
                        <th>학력</th>
                        <td><textarea  name='gradu' style="width:400px;height:200px;font-size:30px; border:none; resize: none;">{{resulttext1}}</textarea></td>
                    </tr>
                    <tr>
                        <th>자격증</th>
                        <td> {% for t in resulttext2 %}
                            <textarea name="{{t.0}}" style="width:300px;height:30px;font-size:30px;">{{t.1}}
                            </textarea>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                <input  name="len" style="display: none " value="{{len}}">
            </div>    
            
            
            </form>
            
        </div>
    </div>
    
</div>
{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const banner = document.querySelector("div.banner");
        const arrows = document.querySelectorAll("div.arrow");
        const btns = document.querySelectorAll("button.btn");
        let count = 0;

    // 원하는 번호의 배너로 이동
    btns.forEach(function(btn, i, ar){
        // 각 버튼에 배너로 이동
        ar[i].addEventListener("click", function(){
            // 해당 버튼 번호(i)로 count 변경
            count = i;
            banner.style.transform = "translate(-" + count * 44 + "vw)";
        })
    })

    // 이전버튼, 다음버튼 기능 구현
    arrows.forEach(arrow => {
        arrow.addEventListener("click", function(){
            let arrowType = arrow.classList[0];
            if(arrowType == 'prev'){
                count--;
                if(count == -1) {
                    count = arrows.length -1;
                }
            }else{
                count++;
                if(count == arrows.length) {
                    count = 0;
                }
            }
            banner.style.transform = "translate(-" + count * 44 + "vw)";
        });
    });


    // 수정하려는 input을 클릭하려는 경우 alert 작동, 전체 input 중 단 1번만 작동
    function read(){
        if(document.getElementById("uploadfile").value == ""){
            alert("사진을 업로드 해주세요.")
        }else{
            alert("잠시만 기다려주세요.")
        }
    }
</script>