{% extends 'layout.html' %}
{% load static %}

    {% block title %}
        <title>병역 OCR</title>
    {% endblock title %}

    {% block content %}
       


        <div style="display:flex">
            <div style="width:45%;margin:50px;">
                
                {% if imgname == None %}
                <img src="/static/ours/img1.svg" style="width:90%; margin-left: 21px;" />
                {% else %}
                <img src="/static/source/document_army/{{imgname}}" style="width:90%;" />
                {% endif %}
            
                
            </div>

            <div style="width:20%;">

            

                <form action="/coocr_upload/army/{{idx}}" method="post" id="Coauthform" enctype="multipart/form-data">
                    <!-- form 안에 있는 것들은 urls.py를 통해서 views.py의 ocrarmy로 간다 -->

                    {% csrf_token %}


                    <div style="margin-top:100px ;">

                        <input type="file" name="uploadfile" id="uploadfile" multiple="multiple" style="display: none;">
                        <label for="uploadfile" style="border: 2px solid black; border-radius: 5px;padding: 2px; width: 62px;
                        height: 24px;display:inline-block;text-align: center;">UPLOAD</label>

                    </div>


                    <div style="margin-top:200px ;">
                        <!-- 읽어들이기 버튼 기능 -->
                        <input type="submit" value="READ" onclick="read()" style="display: none;" id="READ">
                        <label for="READ" style="border: 2px solid black; border-radius: 5px;padding: 2px; width: 62px;
                        height: 24px; display:inline-block;text-align: center;font-size: large;">READ</label>

                    </div>


                </form>



                <form action="/coocr_insert/army/{{idx}}" method="post" id="insertarmy" enctype="multipart/form-data">

                    {% csrf_token %}

                    <div style="margin-top:200px ;">


                        
                        <input type="submit" value="save" style="display: none;" id="SAVE">
                        <label for="READ" style="border: 2px solid black; border-radius: 5px;padding: 2px; width: 62px;
                        height: 24px; display:inline-block;text-align: center;">SAVE</label>


                    </div>

            </div>


            <div style="width:33%;">
                

                <div style="margin-top:100px ;">
                    <!-- <form action="/coocr_insert/army/{{idx}}" method="post" id="insertarmy" enctype="multipart/form-data"> -->
                        <!-- 수정을 하려고 할 경우 경고차(alert) 를 이용하여 수정이 진행될 것임을 알려줄 필요성이 있다. -->
                        <!-- DB에 데이터를 저장한 경우 성공적으로 데이터가 전송되었음을 알리는 장치가 필요 -->
                        
                        <table class="table">
                            <tr>
                                <td><b>군별</b></td>
                                <td><input type="text" name="a_info1" id="" value="{{a_info1}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>계급</b></td>
                                <td><input type="text" name="a_info2" id="" value="{{a_info2}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>군번</b></td>
                                <td><input type="text" name="a_info3" id="" value="{{a_info3}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>역중</b></td>
                                <td><input type="text" name="a_info4" id="" value="{{a_info4}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>병과</b></td>
                                <td><input type="text" name="a_info5" id="" value="{{a_info5}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>입영일</b></td>
                                <td><input type="text" name="a_info6" id="" value="{{a_info6}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>전역일</b></td>
                                <td><input type="text" name="a_info7" id="" value="{{a_info7}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td><b>전역사유</b></td>
                                <td><input type="text" name="a_info8" id="" value="{{a_info8}}" style="width:200px;height:30px;font-size:20px;"></td>
                            </tr>
                        </table>
                    </form>
                </div>

            </div>
        </div>

    {% endblock content %}

    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            // 수정하려는 input을 클릭하려는 경우 alert 작동, 전체 input 중 단 1번만 작동
            function read(){
                if(document.getElementById("uploadfile").value == ""){
                    alert("사진을 업로드 해주세요.")
                }else{
                    alert("잠시만 기다려주세요.")
                }
            }
        </script>
    {% endblock script %}