
{% extends 'layout.html' %}
{% load static %}


    {% block title %}
        <title>신체정보 OCR</title>
    {% endblock title %}
    
    {% block content %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <h1>
            {{menutitle}}
            <a href="/info">결과창</a>
        </h1>
        <!--  -->
        <div style="display: flex;">
            <section class="container">
                <div class="arrow prev">&lt;</div>
                <div class="banner1">
                    {% if remain == None %}
                    <img style="width: 615px;" src="/static/ours/img1.svg" class="d-block w-100" alt="">
                    {%endif%}
                    {% for i in remain %}
                    <div class="img"><img src="/static/imgr/{{i}}"></div>
                    {% endfor %}
                </div>
                <div class="arrow next">&gt;</div>
            </section>
            <!--  -->

                <div style="width:20%;">


                    <form action="/coocr_upload/body/{{idx}}" method="post" id="Coauthform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div style="margin-top:100px ;">
                            <input type="file" name="uploadfile" id="uploadfile" multiple="multiple"  />
                        </div>
                        <div style="margin-top:200px ;">
                            <input type="submit" value="READ" onclick="read()">
                        </div>
                    </form>

                    <form action="/coocr_insert/body/{{idx}}" method="post" name="insertForm" id="insertform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div style="margin-top:200px ;">
                            <button id="save">save</button>


                        </div>
                </div>


                <div id="result" style="width:33%;">
                    
                    <div id="innerRe" class="table">
                        <table>
                            <tr>
                                <th>날짜 : </th>
                                <td><input type="text" name="date" value="{{resulttext.date}}"></td>
                            </tr>
                            <tr>
                                <th>키 : </th>
                                <td><input type="text" name="height" value="{{resulttext.height}}"></td>
                            </tr>
                            <tr>
                                <th>몸무게 : </th>
                                <td><input type="text" name="weight" value="{{resulttext.weight}}"></td>
                            </tr>
                            <tr>
                                <th>시력_좌 : </th>
                                <td><input type="text" name="eye_l" value="{{resulttext.eye_l}}"></td>
                            </tr>
                            <tr>
                                <th>시력_우 : </th>
                                <td><input type="text" name="eye_r" value="{{resulttext.eye_r}}"></td>
                            </tr>
                            <tr>
                                <th>질병 : </th>
                                <td><input type="text" name="disease" value="{{resulttext.disease}}"></td>
                            </tr>
                        </table>
                    </div>   
                    </form>
                </div>
            </div>
        </div>
        <script>
            function checkDate() {
                let today = new Date();
                let year = today.getFullYear();
                let month = today.getMonth() + 1;
        
                let date = document.forms['insertForm']['date'].val();
                let datearr = date.split();
        
                if(month > datearr[1]) {
                    let tt = month - datearr[1];
        
                } 
        
            }
        
            // 수정하려는 input을 클릭하려는 경우 alert 작동, 전체 input 중 단 1번만 작동
            function read(){
                if(document.getElementById("uploadfile").value == ""){
                    alert("사진을 업로드 해주세요.")
                }else{
                    alert("잠시만 기다려주세요.")
                }
            }

        const banner = document.querySelector("div.banner1");
        const arrows = document.querySelectorAll("div.arrow");
        console.log(arrows)
        let count = 0;

    // 이전버튼, 다음버튼 기능 구현
    arrows.forEach(arrow => {
        arrow.addEventListener("click", function(){
            let arrowType = arrow.classList[1];
            if(arrowType == 'prev'){
                count--;
                if(count == -1) {
                    count = 2;
                }
            }else{
                count++;
                if(count == 3) {
                    count = 0;
                }
            }
            banner.style.transform = "translate(-" + count * 45 + "vw)";
        });
    });

        </script>
    {% endblock content %}

    