<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    {{menutitle}}
    <a href="/info">결과창</a>
</h1>


<div style="display:flex">
    <div style="width:45%;margin:50px;">
        
        {% if imgname == '' %}
        이미지를 READ해 주세요.
        {% else %}
        <img src="/static/source/{{imgname}}" style="width:90%;" />
        {% endif %}
    
        
    </div>

    <div style="width:20%;">


        <form action="/coocr_upload/body/{{i}}" method="post" id="Coauthform" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-top:100px ;">
                <input type="file" name="uploadfile" id="uploadfile" multiple="multiple"  />
            </div>
            <div style="margin-top:200px ;">
                <input type="submit" value="READ">
            </div>
        </form>

        <form action="/coocr_insert/body/" method="post" id="insertform" enctype="multipart/form-data">
            <div style="margin-top:200px ;">
                <button id="save">save</button>


            </div>
    </div>


    <div style="width:33%;">
        
        <div style="margin-top:100px ;">

            날짜 : <input type="text" name="date" value="{{resulttext.date}}">
            키 : <input type="text" name="height" value="{{resulttext.height}}">
            몸무게 : <input type="text" name="weight" value="{{resulttext.weight}}">
            시력_좌 : <input type="text" name="eye_l" value="{{resulttext.eye_l}}">
            시력_우 : <input type="text" name="eye_r" value="{{resulttext.eye_r}}">
            질병 : <input type="text" name="disease" value="{{resulttext.disease}}">

            <!-- <textarea value="{{resulttext}}" style="width:400px;height:600px;font-size:20px;">
                날짜 : {{resulttext.date}}
                키 : {{resulttext.height}}
                몸무게 : {{resulttext.weight}}
                시력_좌 : {{resulttext.eye_l}}
                시력_우 : {{resulttext.eye_r}}
                질병 : {{resulttext.disease}}
            </textarea> -->
        </div>   
        
        </form>
        
        
        

    </div>
</div>
<script>

</script>
</body>
</html>