{% extends 'layout.html' %}
{% load static %}

    {% block title %}
        <title>이력서 OCR</title>
    {% endblock title %}

    {% block content %}

        <h1>
            {{menutitle}}
            <a href="/info">결과창</a>
        </h1>

        <input id="savedName" value="{{savedName}}" style="display:none;">
        <div style="display:flex;justify-content: space-evenly; position: relative;">
            <div style="width:36%;margin:50px;">
                
                {% if imgname == None %}
                <form action="/coocr_upload/resident/{{idx}}" method="post" id="Coauthform"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="uploadfile">
                            <img style="width: 100%;" src="/static/ours/img1.svg"/>
                        </label>
                        <input style="display: none;" type="file" name="uploadfile" id="uploadfile" multiple="multiple">
                    </div>
                    <div style="position: absolute;right: 621px;top: 314px">
                        <input style="    height: 57px;border: none;width: 190px;" onclick="read()" type="submit" value="READ">
                    </div>
                </form>
                {% else %}
                <img src="/static/source/{{imgname}}" style="width:90%;" />
                {% endif %}
            </div>
            <div style="width:37%;">
                <div style="margin-top:100px ;">
                    <form action="/coocr_insert/resident/{{idx}}" name="form" method="post" id="insertresident"  enctype="multipart/form-data">
                    <table class="table">
                        <tr>
                            <th>이름</th>
                            <td><input type="text" name="r_name" id="r_name" value="{{resulttext.name}}"></td>
                        </tr>
                        <tr>
                            <th>주민등록번호</th>
                            <td><input type="text" name="r_resi_num" id="" value="{{resulttext.resi_num}}"></td>
                        </tr>
                        <tr>
                            <th>현주소</th>
                            <td><textarea name="r_addr" value="{{resulttext.addr}}" style="width:300px;height:100px;font-size:15px;resize:none; border:none;">{{resulttext.addr}}</textarea></td>
                        </tr>
                    </table>
                </div>
                    {% csrf_token %}
                    <div style="margin-left: 236px;">
                        <!-- <button id="savebutton" style="width: 190px;height: 57px;border: none;" type="submit" value="save">save</button> -->
                        <input id="savebutton" style="width: 190px;height: 57px;border: none;" type="button" value="save" onclick="save()">
                    </div>
                </form>
            </div>
        </div>

    {% endblock content %}

    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            // 수정하려는 input을 클릭하려는 경우 alert 작동, 전체 input 중 단 1번만 작동
            function read(){
                if(document.getElementById("uploadfile").value == ""){
                    alert("사진을 업로드 해주세요.")
                }else{
                    alert("잠시만 기다려주세요.")
                }
            }

            function save(){
                var ocr_name = document.getElementById("r_name").value
                var savedName = document.getElementById("savedName").value
                if(ocr_name != savedName){
                    alert("본인명의로 된 서류가 아닙니다.")
                    return false
                }else{
                    alert('서류제출이 완료되었습니다.')
                    document.form.submit();
                }
                
                
            }

        </script>
    {% endblock script %}